<!DOCTYPE html>

<div class='container position-absolute top-50 start-50 translate-middle bg-light text-dark rounded shadow p-3 mb-5 bg-body-tertiary rounded'>
    <div class='d-flex flex-row'>
        {% for product in products %}
        <div class='col-md-4'>
            <img src='{{ product.pic.url }}' class='w-100' style='max-height:500px'>
        </div>
        <div class=' d-flex flex-column mb-3 px-4 justify-content-between'>
            <div>
                
                <div class="alert alert-success" role="alert">
                    <h4>Basic Informations</h4>
                    <img src="{{product.Car_image.url}}" class='img object-fit-cover border-0 rounded' style="height: 100px; width: 100px">
                  </div>
                <div class="container text-center border border-rounded border-2 p-3 my-3">
                    <div class="row gap-0">
                        <div class="col">
                            <span class="material-symbols-outlined"></span>
                            <span class='fw-medium'> Model: </span> {{ product.model }}
                            
                        </div>
                        <div class="vr p-0"></div>
                        <div class="col">
                            <span class="material-symbols-outlined"></span>
                            <span class='fw-medium'> number plate: </span> {{ product.num_plate }}
                        </div>
                        
                        <div class="vr p-0" ></div>
                        <div class="col">

                            <span class='fw-medium'> number of seat: </span> {{ product.num_of_seat }}seats
                        </div>
                    </div>
                </div>  
                <div class="container text-center border border-rounded border-2 p-3 my-3">
                    <div class="row gap-0">
                        <div class="col">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span class='fw-medium' > Location: </span><br> {{ product.clocation }}
                            
                    </div>
                </div> 
                <p>{{ product.has_car }}</p>   
            </div>
        {% endfor %}     