<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form class='ren_amount_micro' action='/payment/{{plate}}' method='get'>    
        Number of days:<input type='text' name='days' >
        <button class="btn btn-primary" style="background-color: black; color: white;">Book</button>
    </form>
  </body>
</html>


{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<form class='ren_amount_micro'>    
        Number of days:<input type='text' name='days' >
        <button class="btn btn-primary" onclick="location.href='/payment'" style="background-color: black; color: white;">Book</button>
    </form>
  </body>
</html> {% endcomment %}