{% extends "test.html" %}
{% block content %}
      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
              <span class="fs-4" >Ride Share</span>
            </a>
          </div>
            {% comment %}
            here is the button to take you to the ride share car listing form, make this look nice Isfar and also search bar
            {% endcomment %}
            <button onclick="location.href='share_form'" id="share_form">Add your car to the list</button>
            <form class="d-flex" role="search" method="post">
              {% csrf_token %}
              {{ Share_Search.as_p }}
              <input type="submit" value="Share Search">
           </form>
          </div>
{% if share_query %}
  {% if cars %}
    {% for car in cars %}
      {% if destination == car.destination %}
       {% if current_user != car.sharer %}
        <div class="card">
            <a href="/payment"><img src="{{post.Car_image.url}}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">Model Type: {{ car.type }}</h5>
                <p class="card-text">Car Sharer: {{ car.sharer }}</p>
                <p class="card-text">Location: {{ car.location}} </p>
                <p class="card-text">Destination: {{ car.destination }}</p>
                <p class="card-text">Number of Seats: {{ car.seats }}</p>
              </div>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% else %}
              <h3 style="color: #fff;">Please input your location</h3>
      {% endif %}
  {% endif %}
      

  {% endblock content %}

