{% extends "test.html" %}
{% block content %}

      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
              <span class="fs-4" >Ride Share</span>
            </a>
          </div>
            {% comment %}
            here is the button to take you to the ride share car listing form, make this look nice Isfar and also search bar
            {% endcomment %}
            <button onclick="location.href='share_form'" id="share_form">Add your car to the list</button>
            <form class="d-flex" role="search" method="post">
              {% csrf_token %}
              {{ Share_Search.as_p }}
              <input type="submit" value="Share Search">
           </form>
          </div>
{% if share_query %}
  {% if cars %}
    {% for car in cars %}
      {% if destination == car.destination %}
       {% if current_user != car.sharer %}
        <div class="card">
          <form method="post" action="/rs">
            {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                <label for="type">Car Type:</label>
                <textarea class="card-text" id="type" name="type" rows="1" readonly>{{ car.type }}</textarea>
              </div>
            <div class="form-group">
                <label for="sharer">Sharer:</label>
                <textarea class="card-text" id="sharer" name="sharer" rows="1" readonly>{{ car.sharer }}</textarea>
              </div>
            <div class="form-group">
                <label for="location">Start Location:</label>
                <textarea class="card-text" id="location" name="location" rows="1" readonly>{{ car.location}}</textarea>
              </div>
            <div class="form-group">
                <label for="destination">Destination:</label>
                <textarea class="card-text" id="destination" name="destination" rows="1" readonly>{{ car.destination }}</textarea>
              </div>
            <div class="form-group">
                <label for="seats">Number of seats:</label>
                <textarea class="card-text" id="seats" name="seats" rows="1" readonly>{{ car.seats }}</textarea>
              </div>
              <button class="btn btn-primary" type="submit">Request for Rideshare</button>
              </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% else %}
              <h3 style="color: #fff;">Please input your location</h3>
      {% endif %}
  {% endif %}
      

  {% endblock content %}

