{% if query %}
    <div>
        <div>
        <!-- check if there is a result in the database-->
        {% if posts %}
            <!-- loop through search query if there is a result -->
            {% for post in posts %}
                <li class="list-group-item w-100">
                    <div class='row w-100'>
                        <div class="col-lg-3">
                            <img src="{{post.Car_image.url}}" class='img object-fit-cover border-0 rounded' style="height: 100px; width: 100px">
                        </div>
                        <div class="col-lg">
                             <h5><a class='text-decoration-none' href="{% url 'car_catalog' car_id=post.pk %}">{{ post.location }}</a></h5>
                            <h6 class = 'text-secondary'> Model Type: {{ post.model }} </h6>
                            <h6>Price: {{ post.price }}TK</h6>
                        </div>
                    </div>
                </li>
            {% endfor %}
            <!-- return a message if there are no results found. -->
        {% else %}
            <h3>No search results found</h3>
        {% endif %}
        </div>
    </div>
{% else %}
    <h1>Please enter a search query</h1>
{% endif %}
