{% extends "test.html" %}
{% block content %}

<style>
    body {
        font-family: 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    
    .card {
        width: 18rem;
        margin: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .card-body {
        padding: 2rem;
    }
    
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000; /* Changed to white for better visibility */
    }
    
    .card-text {
        font-size: 1.2rem;
        color: #000; /* Light grey color for better visibility */
    }
</style>


<h3 style="color: #fff;">No search results found</h3>


{% endblock content %}